@import url('all.css');
@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');

body{
    font-family: 'Cinzel';
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper{
    background: #fff;
}



/* 공통영역 */
.cntWrap{
    margin-top: 80px;
}
.content{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
.image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 컨텐트 1번 */
.cnt01 article:nth-of-type(1){
    display: flex;
    justify-content: space-between;
}
.cnt01 .images{
    width: calc(100% / 12 * 8);
    height: 600px;
}
.cnt01 .images>.image{
    height: 440px;
    background-image: url('../image/festivity_img01.jpeg');
    border: 2px solid #dedcdb;
}
.cnt01 .thumbView{
    height: 120px;
    width: calc(100% / 8 * 6);
    margin: 0 auto;
    margin-top: 40px;
    overflow: hidden;
}
.cnt01 .thumbGroup{
    width: 167%;
    display: flex;
    justify-content: space-between;
    transition: all 0.5s;
}
.cnt01 .thumbGroup .image{
    width: calc(100% / 5 - 20px);
    height: 120px;
    margin: 0 10px;
    border: 1px solid #dedcdb;
}
.cnt01 .thumbGroup .i1{
    background-image: url('../image/festivity_img01.jpeg');
}
.cnt01 .thumbGroup .i2{
    background-image: url('../image/coffeeCup_img/coffee01.jpeg');
}
.cnt01 .thumbGroup .i3{
    background-image: url('../image/festivity_img/festivity05.jpg');
}
.cnt01 .thumbGroup .i4{
    background-image: url('../image/festivity_img/festivity02.jpeg');
}


.cnt01 .btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    margin-top: -80px;
    font-weight: 700;
}
.cnt01 .btn .left:hover{
    cursor: pointer;
    color: #dedcdb;
}
.cnt01 .btn .right:hover{
    cursor: pointer;
    color: #dedcdb;
}
.cnt01 .texts{
    width: 270px;
    position: relative;
}
.cnt01 .new::before{
    content: 'NEW';
    display: block;
    position: absolute;
    width: 70px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #fff;
    background-color: #fc0;
    text-align: center;
    border-radius: 10px;
    top: 10px;
}
.cnt01 .texts .button{
    text-align: right;
    font-size: 14px;
    line-height: 40px;
}
.cnt01 .texts .button i{
    font-size: 10px;
    margin-left: 5px;
    transform: translateY(-1px);
}
.cnt01 .texts h3{
    font-size: 20px;
    line-height: 40px;
    font-weight: 700;
}
.cnt01 .texts h5{
    font-size: 16px;
    line-height: 40px;
    color: #939393;
}
.cnt01 .texts .num form{
    display: flex;
}
.ui-btn{
    margin: 0;
    padding: 0;
}
.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head+body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head+body .ui-btn.ui-btn-a:visited{
    text-shadow: none;
}
.cnt01 .texts .num div i{
    width: 30px;
    height: 30px;
    border: 1px solid #b1b1b1;
    background-color: #dadada;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 60px;
    text-align: center;
    line-height: 30px;
}

.cnt01 .texts .num div:nth-of-type(1) i{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.cnt01 .texts .num div:nth-of-type(3) i{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.cnt01 input{
    width: 70px;
    height: 30px;
    border: 0;
    background-color: transparent;
}
.ui-input-text, .ui-input-search{
    border: 1px solid #ccc;
    border-width: 0;
    margin:0;
    width: 100px;
    height: 30px;
    margin-top: 60px;
    border-radius: 0%;
}
.cnt01 .texts .cart{
    margin-top: 20px;
}
.cnt01 .texts .cart button:nth-of-type(1){
    width: 200px;
    height: 40px;
    font-size: 18px;
    color: #fff;
    background-color: #79abd2;
    border: 0;
    text-transform: uppercase;
    font-family: 'Cinzel';
    float: left;
}
.cnt01 .texts .cart button:nth-of-type(2){
    width: 40px;
    height: 40px;
    color: white;
    background-color: #79abd2;
    border: 0;
    float: right;
}
.cnt01 .texts .cart button:nth-of-type(2) i:hover{
    color: red;
}

.cnt01 article:nth-of-type(2){
    margin-top: 40px;
}
.cnt01 article:nth-of-type(2) li:nth-child(odd){
    width: 100%;
    height: 80px;
    background-color: #79abd2;
    cursor: pointer;
    border: 1px solid #d8e0e7;
}

.cnt01 article:nth-of-type(2) li:nth-child(odd) h3{
    font-size: 20px;
    line-height: 80px;
    color: white;
    font-weight: 600;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
}
.cnt01 article:nth-of-type(2) li:nth-child(odd) h3 span{
    display: block;
}
.cnt01 article:nth-of-type(2) li:nth-child(odd) h3 i{
    display: block;
    line-height: 80px;
}
.cnt01 li:nth-of-type(4){
    padding: 40px 25px;
}
.cnt01 li:nth-of-type(4) h5{
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
}
.cnt01 li:nth-of-type(4) p{
    font-size: 18px;
    line-height: 20px;
    color: #a4a4a4;
    margin-bottom: 20px;
}
.cnt01 li:nth-of-type(4) p:last-child{
    margin-bottom: 0;
}
.mnTop{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.mnTop h3{
    font-size: 18px;
    line-height: 40px;
}
.mnTop .button{
    font-size: 16px;
    line-height: 40px;
}
.mnTop .button i{
    font-size: 10px;
    transform: translateY(-1px);
    margin-left: 2px;
}
.cnt01 li:nth-of-type(6){
    padding: 0 20px;
}
.goalBox{
    width: 100%;
    height: 120px;
    border: 1px solid #bebfbf;
}
.goalBox h3{
    font-size: 24px;
    color: #555;
    font-weight: 700;
    text-align: center;
    margin-top: 40px;
    line-height: 40px;
}
.goalBox i{
    color: #f4c81e;
    margin-left: 5px;
}
.goalBox i:first-child{
    margin-left: 10px;
}
.mnsub{
    display: flex;
    justify-content:space-between;
}
.mnsub .texts{
    display: flex;
}
.mnsub .texts h3{
    font-size: 16px;
    color: #6a6a6a;
    margin-right: 20px;
    font-weight: normal;
    line-height: 80px;
    cursor: pointer;
}
.mnsub .texts h3:hover{
    font-weight: 700;
}
.goalTexts{
    border-top: 4px solid #555555;
    border-bottom: 2px solid #dbdbdb;
    padding: 15px;
}
.goalTexts h5{
    font-size: 12px;
    line-height: 40px;
}
.goalTexts h3{
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
}
.goalTexts p{
    font-size: 14px;
    line-height: 20px;
}
.goalTexts .image{
    margin-top: 20px;
}
.goalTexts .i1{
    width: 500px;
    height: 250px;
    background-color: #e6e6e5;
}
.goalTexts .icon{
    color: #f4c81e;
    line-height: 80px;
}
.goalTexts .icon i{
    margin-right: 5px;
}
/* 컨텐트 2번 */
.cnt02{
    height: 480px;
    position: relative;
    margin: auto;
    right: 0;
    left: 0;
}
.cnt02 h2{
    font-size: 32px;
    text-align: center;
}
.festivityBg{
    position: relative;
}
.festivityBg::before{
    content: '';
    display: block;
    width: 100%;
    max-width: none;
    height: 280px;
    background: #fff5d2;
    position: absolute;
    top: 200px;
}
.cnt02 .artView{
    overflow: hidden;
    margin-top: 40px;
}
.cnt02 .artGroup{
    width: 150%;
    display: flex;
    justify-content: space-between;
}
.cnt02 article{
    width: calc(100% / 4 - 20px);
    height: 360px;
    margin: 0 10px;
}
.cnt02 article .image{
    height: 246px;
    border-radius: 50%;
    border: 2px solid #dedcdb;
    cursor: pointer;
}
.cnt02 article .image:hover{
    box-shadow: 2px 2px 6px #ccc;
}
.cnt02 article .i1{
    background-image: url('../image/festivity_img/festiviti01.jpeg');
}
.cnt02 article .i2{
    background-image: url('../image/festivity_img/festivity02.jpeg');
}
.cnt02 article .i3{
    background-image: url('../image/festivity_img/festivity03.jpeg');
}
.cnt02 article .i4{
    background-image: url('../image/festivity_img/festivity04.jpeg');
}
.cnt02 article .i5{
    background-image: url('../image/festivity_img/festivity05.jpg');
}
.cnt02 article .i6{
    background-image: url('../image/festivity_img/festivity06.jpg');
}
.cnt02 .texts{
    text-align: center;
    line-height: 40px;
    margin-top: 30px;
}
.cnt02 .texts h3{
    font-size: 16px;
    font-weight: 700;
}
.cnt02 .texts h5{
    font-size: 14px;
    color: #939393;
}
.cnt02 .btn{
    width: 110%;
    font-size: 60px;
    display: flex;
    justify-content: space-between;
    margin-left: -5%;
    color: #555;
    margin-top: -280px;
}
.cnt02 .left{
    cursor: pointer;
}
.cnt02 .left:hover{
    color: #ccc;
}
.cnt02 .right{
    cursor: pointer;
}
.cnt02 .right:hover{
    color: #ccc;
}

.heart div{
    position: fixed;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 100px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color:red;
    text-shadow: 2px 2px 6px red;
    opacity: 0;
    z-index: 9999;
}

/* toTop */
.toTop{
    width: 70px;
    height: 70px;
    background-color: #fc0;
    font-weight: 700;
    position: fixed;
    right: 50px;
    bottom: 50px;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 999;
}
.toTop:hover{
    box-shadow: 2px 2px 10px #ccc;
}


.ui-select .ui-btn select{
    position: inherit;
    min-height: 40px;
}