.hdrWrap{
    height: 80px;
}
.hdrWrap header{
    height: 80px;
    padding-top: 25px;
    position: relative;
}
.hdrWrap .logo{
    width: 160px;
    height: 30px;
}
.hdrWrap .icon li{
    display: none;
}
.hdrWrap .icon li:nth-of-type(4){
    display: block;
    font-size: 25px;
    position: absolute;
    top: 20px;
    right: 0;
}
.hdrWrap .nav{
    display: none;  
}
.hdrWrap .menu{
    margin-top: 0;
}

.hdrWrap input{
    display: none;
}
.hdrWrap .sideBar{
    width: 0%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background: #fff;
    z-index: 999;
    overflow: hidden;
    transition: all 0.5s;
    display: block;
}
.hdrWrap input:checked + .sideBar{
    width: 100%;
}
.hdrWrap .sideBar .logo{
    background-image: url(../image/logo.svg);
    margin-top: 40px;
}
.hdrWrap .sideIcon{
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 40px;
    color: #555;
    line-height: 40px;
}
.hdrWrap .sideIcon li:hover{
    color: #ccc;
}
.hdrWrap .sideNav li:nth-of-type(1){
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    color: black;
    line-height: 20px;
}
.hdrWrap .sideNav{
    width: 100%;
    height: 100%;
    margin-top: 20px;
    line-height: 60px;
    text-align: center;
    background-color: #79abd2;
    color: #fff;
}
.hdrWrap .sideNav li{
    border-bottom: 1px solid #fff;
    transition: all 0.3s;
}
.hdrWrap .sideNav li:hover{
    font-size: 18px;
    font-weight: 700;
}


.mnWrap{
    height: 280px;
}
.mnWrap .bg{
    display: none;
}
.mnWrap .mnImgView{
    width: 100%;
    height: 280px;
}
.mnWrap .mnImgGroup{
    height: 280px;
}
.mnWrap .mnImgGroup .image{
    height: 280px;
    position: relative;
}
.mnWrap .mainText{
    height: 280px;
    width: 90%;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    color: #fff;
    text-shadow: 2px 2px 4px #555 ;
}
.mnWrap .mnTitleGroup li{
    line-height: 50px;
    font-size: 30px;
}
.mnWrap .mnNoteView{
    display: none;
}
.mnWrap .paging div{
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    box-shadow: 2px 2px 4px #555;
    margin-top: 10px;
}
.mnWrap .paging .show{
    background-color: #fff;
}
.mnWrap .mnTitleView{
    height: 40px;
}
.mnWrap .mnTitleGroup{
    height: 40px;
}

header h2{
    font-size: 20px;
}
.cnt01 .artView{
    width: calc(100% - ((100% / 4) * 1));
}
.cnt01 .artGroup{
    width: 600%;
}
.cnt02 .imgThumbGroup{
    width: 300%;
}
.cnt02 .imgThumbGroup .image{
    width: calc(100% / 2 - 20px);
}
.cnt02 .artRight .texts p{
    width: 100%;
    padding: 0;
}
.cnt02 .artLeft{
    margin: 0;
}
.cnt02 .artRight{
    margin: 0;
}
.bnWrap{
    background-image: url('../image/banner_Mob.jpg');
}
.bnWrap h2{
    font-size: 30px;
}
.bnWrap p{
    font-size: 14px;
}
.bnWrap .button{
    font-size: 16px;
}
.bnWrap .button i{
    font-size: 13px;
}
.cnt03 header .menu{
    width: calc(100% / 4 * 2.5);
}
.cnt03 header .menu div:nth-of-type(4){
    display: none;
}
.cnt03 section{
    height: 600px;
}
.cnt03 article{
    width: calc(100% / 2 - 10px);
}
.cnt03 .texts{
    padding-top: 10px;
}
.cnt03 .btn{
    width: calc(100% / 4);
}
.cnt04 section{
    display: block;
}
.cnt04 .image{
    background-size: contain;
}
.cnt04 .artLeft{
    width: 100%;
}
.cnt04 .artMid{
    width: 100%;
}
.cnt04 .artLeft .i1{
    height: 340px;
}
.cnt04 .artLeft .texts{
    height: 340px;
}
.cnt04 .artMid .i1{
    height: 170px;
}
.cnt04 .artMid article:nth-of-type(1) .texts{
    height: 170px;
    padding-top: 60px;
}
.cnt04 .artMid .i2{
    height: 150px;
}
.cnt04 .artMid article:nth-of-type(2) .texts{
    height: 150px;
    padding-top: 50px;
}
.cnt05 article{
    width: calc(100% / 2);
    height: 190px;
}
.cnt05 article:nth-of-type(3){
    display: none;
}
.cnt05 .image{
    height: 190px;
}
.cnt05 .texts{
    height: 190px;
}
.toTop{
    position: relative;
    width: 100vw;
    height: 50px;
    line-height: 50px;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 0;
    background-color:#79abd2;
    color: #fff;
}
footer{
    display: block;
    height: 160px;
}
footer p{
    display: none;
}
footer .logo{
    margin: 0 auto;
}
footer .sns{
    margin-top: 0;
    line-height: 25px;
    margin-top: 20px;
}
footer .sns i:nth-of-type(3){
    display: none;
}